{
    "Domain": "YOUR_DOMAIN_HERE",
    "AzureAD": {
        "Instance": "YOUR_STS_INSTANCE_URL_HERE, ex. https://login.microsoftonline.com/<tenantId>/v2.0 unless not using public cloud instance",        "Domain": "YOUR_DOMAIN_HERE",
        "TenantId": "YOUR_TENANT_ID_HERE",
        "ClientId": "YOUR_CLIENT_ID_HERE",
        "ClientSecret": "YOUR_CLIENT_SECRET_HERE",
        "RedirectUri": "YOUR_REDIRECT_URI_HERE"
    }
}